* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 100px;
}

.container {
    width: 80%;
    height: 70vh;
    border: 4px solid black;
    position: relative;
}
.gza {
    position: absolute;
    width: 100%;
    height: 100%;
}

.xe {
    width: 75px;
    height: 100px;
    position: absolute;
    top: 40%;
    right:0%;
    animation-name: xe;
    animation-duration: 400ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.mze {
    width: 179px;
    height: 175px;
    position: absolute;
    top: 4%;
    right: 40%;
    animation-name: mze;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;

}

.witeli {
    width: 78px;
    height: 78px;
    position: absolute;
    top: 67%;
    left: 0%;
    animation-name: witeli;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
}

.mwvane {
    width: 78px;
    height: 78px;
    position: absolute;
    top: 80%;
    right: 0%;
    animation-name: mwvane;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
}

@keyframes xe {
    0% {
        top: 40%;
        right: 0;
    }
    100% {
        top: 40;
        right: calc(100% - 75px);
    }
}

@keyframes mze {
    from {
       transform: rotate(-365deg);
        
    } 
    
}

@keyframes witeli {
    0% {
        top: 67%;
        right: 0%;
    }
    10% {
        top: 67.5%;
        right: 6%;
    }
    20% {
        top: 67%;
        right: 12%;
    }
    30% {
        top: 67.5%;
        right: 24%;
    }
    40% {
        top: 67%;
        right: 26%;
    }
    50% {
        top: 67.5%;
        right: 28%;
    }
    60% {
        top: 67%;
        right: 26%;
    }
    70% {
        top: 67.5%;
        right: 24%;
    }
    80% {
        top: 67%;
        right: 12%;
    }
    90% {
        top: 67.5%;
        right: 6%;
    }
    100% {
        top: 67%;
        left: calc(100% - 78px);
    }
}

@keyframes mwvane {
    0% {
        top: 83%;
        right: 0%;
    }
    10% {
        top: 83.4%;
        right: 6%;
    }
    20% {
        top: 83%;
        right: 12%;
    }
    30% {
        top: 83.4%;
        right: 24%;
    }
    40% {
        top: 83.4%;
        right: 26%;
    }
    50% {
        top: 83%;
        right: 28%;
    }
    60% {
        top: 83.4%;
        right: 26%;
    }
    70% {
        top: 83%;
        right: 24%;
    }
    80% {
        top: 83.4%;
        right: 12%;
    }
    90% {
        top: 83%;
        right: 6%;
    }


    100% {
        top: 83%;
        right: 0%; 
    }

}

.grubeli {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 4%;
    right:0%;
    animation-name: grubeli;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes grubeli {
    0% {
        top: 4%;
        right: 0%;
    }
    10% {
        top: 5%;
        right: 10%;
    }
    20% {
        top: 3%;
        right: 20%;
    }
    30% {
        top: 5%;
        right: 30%;
    }
    40% {
        top: 4%;
        right: 40%;
    }
    50% {
        top: 3%;
        right: 50%;
    }
    60% {
        top: 5%;
        right: 60%;
    }
    70% {
        top: 3%;
        right: 70%;
    }
    80% {
        top: 5%;
        right: 80%;
    }
    90% {
        top: 4%;
        right: 90%;
    }


    100% {
        top: 3%;
        right: calc(100% - 100px); 
    }

}






